.locationsPage {
  padding-top: 32px;
  padding-bottom: 64px;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  background: var(--color-scheme-2-background);
}

.pageTitle {
  font-weight: 900;
  font-size: 32px;
  text-align: center;
  line-height: 1.1;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-neutral-darkest);
}
